@import 'common';


$WFM: 1;
$WFWWidth: $WFM * 248px;
$WFCWidth: $WFM * 59px;
$WFCPadding: $WFM * 4px;

body {
  position: relative;
  padding: $WFCPadding $WFCPadding 0 $WFCPadding;
  width: $WFWWidth + 2 * $WFCPadding;
  height: 100%;
  background-color: #fff;
  cursor: default;
}

#addPin,
#showState,
#toPrevPage,
#toNextPage {
  position: fixed;
  top: 60px;
  right: 100px;
  border: none;
  border-radius: 2px;
  padding: 0 12px;
  height: 32px;
  color: #fff;
  background: #333;
}

#showState {
  top: 108px;
}

#toPrevPage {
  top: 108px;
}

#toNextPage {
  top: 156px;
}


.waterfall-wrap {
  margin: 0 auto;
  position: relative;

  &.cols-4 {
    width: $WFWWidth;
  }

  .wfc {
    position: absolute;
    top: 0;
    left: 0;
    width: $WFCWidth;
    padding: 0;
    opacity: 0.618;
    border-radius: 4px;

    color: #FFF;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    transition: transform .15s ease-in-out,box-shadow .15s ease-in-out;

    &:hover {
      box-shadow: 0 1px 3px rgba(0,0,0,.02), 0 16px 32px -4px rgba(0,0,0,.17);
      transform: translateY(-1px);
    }
  }
}



$IGOIST: 'igoist-moyu';

$minRowHeight: 32px;

##{$IGOIST}-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: $WFCPadding 0;
  padding-bottom: 0;
  // padding: 0 $WFCPadding;
  width: $WFWWidth + 2 * $WFCPadding;
  height: 100%;
  background-color: #333;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: $WFCPadding + 2px  auto $WFCPadding + 2px;
  // grid-auto-rows: minmax($minRowHeight, auto);
  grid-gap: 0px;
  text-align: left;
  box-sizing: content-box;

  .#{$IGOIST}-title,
  .#{$IGOIST}-item {
    line-height: $minRowHeight;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .#{$IGOIST}-title {
    margin-bottom: $WFCPadding;
    height: $minRowHeight;
    text-align: center;
  }

  .#{$IGOIST}-item {
    border-top: 1px dashed #fff;
    border-left: 1px dashed #fff;
    border-right: 1px dashed #fff;
    padding: $WFCPadding + 2px $WFCPadding + 2px;
    line-height: 22px;
    background-color: #333;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;

    a {
      display: inline-block;
      color: #fff;
      font-size: 12px;
    }

    &:hover {
      a {
        color: #86c7c7;
      }
    }

    &:nth-child(2) {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    &:last-child {
      margin-bottom: $WFCPadding * 2;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-bottom: 1px dashed #fff;
    }
  }
}
